* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
}

ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

.link_image {
    display: inline-block;
    height: 100%;
}

header ul li a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

header section {
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
}

.padding_bottom {
    padding-bottom: 80px;
}

footer .col_2su6 ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}
                     
h1 { /* Titolo nell'hero */

}

h2 { /* Titolo nelle varie sezioni*/

}

h3 { /* Titolo fine del main e nel footer */

}

h5 { /* Titoletti nel footer */

}

.bg_image {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

 .text_align {
     text-align: center;
 }

.row > * {
    float: left;
}   /* PRATICAMENTE UGUALE A QUELLO CHE HO SCRITTO SOPRA */

row > .float_right {
    float: right;
}

.col_1su6 {
    width: calc(100% * 1 / 6);
}

.col_2su6 {
    width: calc(100% * 2 / 6);
}

.col_4su6 {
    width: calc(100% * 4 / 6);
    margin: 0 auto;
}

.button {
    border-radius: 16px;
    padding: 18px 28px;
    font-size: 16px;
}

.button_small {
    border-radius: 14px;
    padding: 11px 11px;
    font-size: 14px;
}

.button_white {
    background-color: white;
    color: black;
}

.button_black {
    background-color: black;
    color: white;
}

.button_purple {
    background-color: mediumpurple;
    color: white;
}

.bg_gray {
    background-color: lightgray;
}

footer {
    background-color: rgb(4, 4, 37);
}

footer a {
    color: white;
}

footer {
    color: white
}

footer h3 {
    color: mediumpurple;
}

footer h5 {
    color: mediumpurple;
}

.border_bottom {
    border-bottom: 1px solid mediumpurple;
    margin-bottom: 30px;
    padding-bottom: 30px;
}








/********************************************************************** 
Info utili:
TESTI
Font size dei testi-> 16px
Font size dei testi del footer-> 14px

BOTTONI
Font size dei bottoni grandi-> 16px
Font size dei bottoni piccoli-> 14px
Padding bottoni grandi-> 18px 28px
Padding bottoni piccoli-> 11px 11px
Colori di sfondo dei bottoni-> white / black / lightpurple






***********************************************************************/