* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 920px;
    margin: 0 auto;
    position: relative;
}
  
h1 { /* Titolo nell'hero */

}

h2 { /* Titolo nelle varie sezioni*/

}

h3 { /* Titolo fine del main e nel footer */

}

h5 { /* Titoletti nel footer */

}


















/********************************************************************** 
Info utili:
TESTI
Font size dei testi-> 16px
Font size dei testi del footer-> 14px

BOTTONI
Font size dei bottoni grandi-> 16px
Font size dei bottoni piccoli-> 14px
Padding bottoni grandi-> 18px 28px
Padding bottoni piccoli-> 11px 11px
Colori di sfondo dei bottoni-> white / black / lightpurple






***********************************************************************/